# Name: ImageJ_JavaCV_Installer
# Author: Stanislav Chizhik
# Version: 0.1.1

# ImageJ plugin which helps to download and to install components of javacv package (java interface to OpenCV, FFmpeg and other) by Samuel Audet.
# Other plugins which require javacv may use it to check if necessary libraries are installed and to install missing components.

Plugins>JavaCV>, "Install JavaCV libraries",javacv_install.JavaCV_Installer("")
