# Name: ImageJ_JavaCV_Installer_Deployment
# Author: Stanislav Chizhik
# Version: 0.1.0
# Date: 2021/09/20
# Requires: ImageJ 1.53

# ImageJ plugin which helps to deploy (compile, build jar) JavaCV Installer, another plugin which helps to download and to install components of javacv package (java interface to OpenCV, FFmpeg and other) by Samuel Audet.
# Other plugins which require javacv may use it to check if necessary libraries are installed and to install missing components.

Plugins>JavaCV, "Deploy JavaCV installer", javacv_install_deployment.Deploy_JavaCV_Installer

