# Name: ImageJ_Video_Plugins_Deployment
# Author: Stanislav Chizhik
# Version: 0.1.0
# Date: 2021/09/20
# Requires: ImageJ 1.53

# ImageJ plugin which helps to deploy (compile, build jar) three plugins: 
# 1. JavaCV Installer - allowing installation of JavaCV library necessary for ffmpeg 
# 2. FFmpeg_FrameReader - plugin for reading compressed movies into virtual stacks or hyperstacks 
# 3. FFmpeg_FrameRecorder - for writing compressed movies from image stacks


Plugins>FFmpeg Video, "Deploy Video Plugins", video_plugins_deployment.Deploy_Video_Plugins

